/* 모달 전체 배경 */
#search-emp{
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 어두운 반투명 배경 */
    z-index: 2000; /* 다른 요소 위에 표시 */
}

/* 모달 창 본체 */
#search-emp .modal-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 화면 가운데 정렬 */
    background-color: white;
    padding: 25px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: fit-content;
    height: fit-content;    
    row-gap: 10px;
}

#search-emp .modal-title{
    font-size: 23px;
    font-weight: bold;
    text-align: left;
}

/* 버튼을 우측 정렬 */
#search-emp .button-container {
    display: flex; /* 플렉스 컨테이너 */
    justify-content: right; /* 우측 정렬 */
    align-items: center;
}

#search-emp table{
    border: 1px solid black;
    border-collapse: collapse;
}

#search-emp th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 10px;
    text-align: center;
    background-color: #f7f8f9;
    color: #333;
}

#search-emp td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 10px;
    text-align: center;
}

#search-emp input[type=button] {
    font-size: 15px; /* 작은 글씨 크기 */
    padding: 0px 0px; /* 버튼 안의 여백 (상하 5px, 좌우 10px) */
    background-color: #FFFFFF; /* 버튼 배경색 (#3344FF) */
    color: black; /* 버튼 글자색 (흰색) */
    border-radius: 20px; /* 모서리를 둥글게 */
    cursor: pointer; /* 버튼 위에 마우스 커서를 올리면 포인터 표시 */
    border: 1px solid #416DFF; ;
    width: 70px;
    height: 38px;
    margin-top: 13px;
    margin-bottom: 7px;
}

#search-emp input[type=button]:hover {
    background-color: #416DFF;
    color: white; 
    font-weight: bold;
}

/* 닫기 버튼 */
#search-emp .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: gray;
}

#search-emp .modal-close:hover {
    color: black;
}
