.top-bar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.134);

}

.image-circle {
    width: 50px;
    height: 50px;
    background-color: #e5e5e5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
    position: relative;
}

.display-none {
    display: none;
}

#profile-menu {
    position: absolute;
    top: 53px;
    right: 40px; 
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.082);
    z-index: 100;
    width: 150px;
    padding: 11px 20px;
}

#profile-menu>div{
    padding-top: 4px;
    padding-bottom: 4px;
}